$headerColor: #1d2b53;
$menuColor: #faef5d;
$backColor: #bbe2ec;
$nameColor: #f8f4ec;
$menu1Color: #3e3232;
$h1Color: #2b4251;
$h2Color: #503c3c;
$decoColor: #d9edbf;

$titleFont: "Abril Fatface", serif;

$textFont: "Urbanist", sans-serif;
$lightWeight: 400;
$normalWeight: 500;
$boldWeight: 700;

$gutter:16px;